$time-100: 100ms;
$time-200: 200ms;
$time-300: 300ms;
$time-400: 400ms;
$time-500: 500ms;
$time-600: 600ms;
$time-700: 700ms;
$time-800: 800ms;
$time-900: 900ms;
$time-1000: 1000ms;
$time-2000: 2000ms;
