@import "time";

$rem-base: 16;
$line-height-base: 1.4;
$root-font-size: 16px;

$default-font: 'Poppins', sans-serif;

$color-white: #fff;
$color-black: #000;
$color-black-02: rgba(0, 0, 0, 0.2);
$color-black-05: rgba(0, 0, 0, 0.5);

$color-main: #161623;

$color-red: #f00;

$color-pink-light: #f0f;
$color-pink-main: #e91e63;

$color-blue: #2196f3;

$color-gray: rgba(255, 255, 255, 1);
$color-gray-01: rgba(255, 255, 255, 0.1);
$color-gray-05: rgba(255, 255, 255, 0.5);
$color-gray-005: rgba(255, 255, 255, 0.05);
